<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-pen"></i>
                Update Contact Page
            </h1>
            <!-- dummt data -->
            <p style="text-align: justify;">This is Dummy Data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ullam ducimus eius vero nam, quis atque dolorum quaerat porro blanditiis veritatis placeat architecto commodi aspernatur debitis aliquam dolorem itaque ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt provident animi iure fuga porro similique illo odio, nostrum reprehenderit accusamus molestias inventore consequatur quasi illum, pariatur corrupti! Itaque, accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem adipisci minus sed ipsum tempore atque repellendus delectus alias fugiat tempora maxime, aspernatur dolorem? Ipsum corrupti, nulla laboriosam asperiores porro ipsam.</p>

            <!-- <pre>
                {{contact | json}}
            </pre> -->

            
            <!-- Contact Form -->
            <div class="container">
                <div class="row">
                    <!-- form design -->
                    <div class="col-lg-6 ">
                        <form #editContactForm="ngForm" class="border p-3">
                            <!-- id -->
                            <div class="mb-2">
                                <input name="id" #id="ngModel" [(ngModel)]="contact.id"  placeholder="Contact Id" type="text" class="form-control" required>
                            </div>

                            <div *ngIf="id.invalid && id.touched" class="text-danger mb-2">Please Enter Valid Id</div>

                            <!-- name -->
                            <div class="mb-2">
                                <input name="name" #name="ngModel" [(ngModel)]="contact.name"  placeholder="Contact Name" type="text" class="form-control" required>
                            </div >

                            <div *ngIf="name.invalid && name.touched" class="text-danger mb-2">Please Enter Valid name</div>

                            <!-- image -->
                            <div class="mb-2">
                                <input  name="photo" #photo="ngModel"[(ngModel)]="contact.photo"  placeholder="Contact Image URL" type="text" class="form-control" required>
                            </div >

                            <div *ngIf="photo.invalid && photo.touched" class="text-danger mb-2">Please Enter Valid URL</div>

                            <!-- mobile -->
                            <div class="mb-2">
                                <input minlength="10" maxlength="10" pattern="[0-9]*" #mobile="ngModel" name="mobile" [(ngModel)]="contact.mobile"  placeholder="Contact Mobile" type="text" class="form-control" required>
                            </div >

                            <div *ngIf="mobile.invalid && mobile.touched" class="text-danger mb-2">Please Enter Valid mobile number</div>


                            <!-- Email -->
                            <div class="mb-2">
                                <input email  #email="ngModel" name="email" [(ngModel)]="contact.email" placeholder="Contact E Mail" type="text" class="form-control" required>
                            </div >

                            <div *ngIf="email.invalid && email.touched" class="text-danger mb-2">Please Enter Valid email</div>

                            <!-- Company -->
                            <div class="mb-2">
                                <input #company="ngModel" name="company" [(ngModel)]="contact.company"  placeholder="Contact company" type="text" class="form-control" required>
                            </div >

                            <div *ngIf="company.invalid && company.touched" class="text-danger mb-2">Please Enter Valid company Name</div>

                            <!-- title -->
                            <div class="mb-2">
                                <input #title="ngModel" name="title" [(ngModel)]="contact.title"  placeholder="Contact Title" type="text" class="form-control" required>
                            </div >

                            <div *ngIf="title.invalid && title.touched" class="text-danger mb-2">Please Enter Valid Title</div>

                            <!-- group -->
                            <div class="mb-2">
                                <select name="groupId" #group="ngModel" pattern="[0-9]" [(ngModel)]="contact.groupId" id="" class="form-control" required>
                                    <option selected hidden disabled>Choose A Group</option>
                                    <option [value]="group.id" *ngFor="let group of allGroups">{{group.name}}</option>
                                    

                                </select>
                            </div>
                            <div *ngIf="group.invalid && group.touched" class="text-danger mb-2">Please Enter Valid group</div>

                            <div class="mb-2">
                                <input (click)="editContact(contact)" [disabled]="editContactForm.invalid" value="Update" type="button" class="btn btn-success">
                                <a class="btn btn-warning ms-5" routerLink="">Close</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 mt-5">
                        <!-- image -->
                        <img width="200px" [src]="contact.photo" alt="Contact image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

